.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__jcRFc {
  display: flex;
  position: relative;
  max-width: var(--token-g6-xSPB4M7uh);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__jcRFc > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__jcRFc > :global(.__wab_flex-container) > *,
.freeBox__jcRFc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jcRFc > :global(.__wab_flex-container) > picture > img,
.freeBox__jcRFc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jcRFc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jcRFc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jcRFc > :global(.__wab_flex-container) > *,
  .freeBox__jcRFc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jcRFc > :global(.__wab_flex-container) > picture > img,
  .freeBox__jcRFc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5L9Ma {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___5L9Ma {
    justify-content: center;
  }
}
.freeBox__ql6Xu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__tlAeC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__tlAeC {
    text-align: center;
  }
}
.freeBox__biZYi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__biZYi {
    align-self: center;
    justify-content: center;
  }
}
.svg__erXtd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__kQ93E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__pQjis {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__mrXbY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column___5IGgy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___5IGgy {
    justify-content: center;
  }
}
.h4__heIV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__heIV {
    text-align: center;
  }
}
.button__crUry:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__crUry:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___3IzV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__v3EFz {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__v3EFz {
    text-align: center;
  }
}
.svg__bl3Sf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bsfoA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__bsfoA:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__xxu4J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__b7LTp {
  color: #92959b;
}
.svg___9UVj4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__yyq5Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__yyq5Q:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__zu0Zy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__c0Ynz {
  color: #92959b;
}
.svg__o0PwF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fQprb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__fQprb:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__hUw0N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vo6BW {
  color: #92959b;
}
.svg__q7Ymk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__teSor {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__teSor {
    justify-content: center;
  }
}
.h4__jwCW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__jwCW {
    align-self: center;
    text-align: center;
  }
}
.button__t4U9H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__t4U9H:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___8LRfY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9W4UR {
  color: #92959b;
}
.svg__hoMuV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___8X442:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___8X442:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__kDimK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xhihh {
  color: #92959b;
}
.svg___0Ylpk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__dkRi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__dkRi {
    justify-content: center;
  }
}
.h4__nmp4Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__nmp4Q {
    align-self: center;
    text-align: center;
  }
}
.button__m56R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__m56R:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__bc6E5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rnXx3 {
  color: #92959b;
}
.svg__vN5Qw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__mgLpd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__mgLpd:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__aff1D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qL0AY {
  color: #92959b;
}
.svg__rPp9Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nw4Pd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__nw4Pd:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__rFfgY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__syxx3 {
  color: #92959b;
}
.svg___7LuOg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__f7MfA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text___8PPkM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___8PPkM {
    padding-top: 129px;
  }
}
